.select {
    width: 165px;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
}

.select:focus {

}

.option:checked {
    color: white;
    background: #0066CC;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.option:hover {

}
