.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    accent-color: black;
}

.radio::before {

}


.radio:checked::before {

}

.label {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.options {
}
