.pagination {
    display: flex;
    align-items: center;
}

.text1 {
    margin: 0 7px 0 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.text2 {
    margin: 0 15px 0 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.select {
    width: 40px;
}
